.grid-container {
  display: grid;
}

.signage {
  font-family: Impact;
  text-align: center;
  font-size: 136px;
  font-weight: 900;
  color: white;
  opacity: 0.6;
}

.selectionImage {
  width: 40%;
  border-radius: 25px;
  height: auto;
}

.selectionDiv {
  display: inline;
  padding: 20px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startImage {
  font-family: Impact;
  font-size: 48px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}


#mazeListDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#lineControl {
  font-size: 50px;
}


#usernameValidationMessage {
  font-size: 48px;
  text-align: center;
  color: white;
  font-family: Tahoma;
  @-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
  }
  blink {
      -webkit-animation-name: blink;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
      -webkit-animation-duration: 1s;
  }
}

#login {
  text-align: center;
  /* margin-top: 500px; */
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 48px;
    text-align: center;
    border: 2px solid white;
    border-radius:20px;
    background: white;
    opacity: 0.6;
}

input[type=submit] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 48px;
  text-align: center;
  color: white;
  border: 0px;
  border-radius:20px;
  background: transparent;
}

select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 48px;
}

#difficultyLevel {
  text-align: center;
}

.patchStyle {
  border: 5px;
  border-color: black;
}

#instructions {
  font-family: Impact;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: white;
  opacity: 0.6;
}

video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}


.timer {
  text-align: center;
  background-color: red;
}

.time-font {
  color: white;
}

.winner-font {
  color: white;
  font-size: 3.5em;
  margin-left: 450px;
  margin-top: 300px;
}
